[Unit]
Description=Ballast (Jump'n'Run mit Masse-Mechanik) statischer Server
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/v3da/ballast/serve.py
Restart=on-failure

[Install]
WantedBy=default.target
