[Unit]
Description=Fass-Alarm (Donkey-Kong-Stil) statischer Server
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/v3da/fassalarm/serve.py
Restart=on-failure

[Install]
WantedBy=default.target
