[Unit]
Description=Phoenix (Arcade-Nachbau) statischer Server
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/v3da/phoenix/serve.py
Restart=on-failure

[Install]
WantedBy=default.target
