[Unit]
Description=Fragenquiz Webserver (Port 8769)
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/v3da/quiz/server.py
Restart=on-failure
WorkingDirectory=/home/v3da/quiz

[Install]
WantedBy=default.target
