[Unit]
Description=Volme3D Webserver
After=network.target

[Service]
WorkingDirectory=/home/v3da
ExecStart=python3 /home/v3da/volme3d_server.py 8080
Restart=always

[Install]
WantedBy=default.target
