[Unit]
Description=VolmeCut Plot-Software (Port 8774)
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/v3da/volmecut_server.py 8774
WorkingDirectory=/home/v3da
Restart=on-failure

[Install]
WantedBy=default.target
