[Unit]
Description=VolmeShop Bestellportal (Port 8776)
After=network.target

[Service]
ExecStart=/usr/bin/node /home/v3da/volmeshop/server.js 8776
WorkingDirectory=/home/v3da/volmeshop
Restart=on-failure

[Install]
WantedBy=default.target
